

body {
    max-width: 1340px;
    min-width: 320px;
}

html,
body {
    height: 100%;

}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;

}

